*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blu-acceso: rgb(0, 97, 255);
    --blu-spento: rgb(180, 208, 231);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: brown;
}

section{
    padding-top: 120px;
    
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container-medio{
    width: 80%;
    margin: 0 auto;
}

.container-stretto{
    width: 70%;
    margin: auto;
}