/*
    NAV
*/
nav{
    width: 100%;
    position: fixed;
}
/*
    /NAV
*/


/*
    JUMBO
*/

.jumbo{
    padding: 100px 0;
}

.jumbo-box{
    padding: 30px 50px;
}

.jumbo-box h1{
    height: 25%;
}

.jumbo-box div{
    height: 75%;
}
/*
    /JUMBO
*/


/*
    MAIN TOP
*/
/* Piani di acquisto (Business) */
.business-offerte{
    width: 100%;
}

.offerta{
    padding: 50px 0;
}

.offerta:nth-child(2){
    padding: 50px;
}

.business-bottom{
    border-bottom: 1px solid black;
    text-align: center;
}

.business-bottom .fa-building{
    padding: 5px;
}

/* Immagine + didascalia (Partner) */

/* Multischeda (Card) */

/*
    /MAIN TOP
*/


/*
    MAIN BOTTOM
*/
/* Zona Team */
div.team-center{
    width: 100%;
}

/* Zona Domande Frequenti */

/*
    /MAIN BOTTOM
*/


/*
    FOOTER
*/
/*
    /FOOTER
*/