/*
    NAV
*/
header{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 61px;
}

nav .float-dx{
    float: right;
}

nav a{
    color: black;
}

header li{
    padding: 0 15px;
}

header li img{
    height: 20px;
    vertical-align: text-bottom;
}

header li:nth-child(5) a{
    padding: 5px 15px;
    font-size: 14px;
}


/*
    /NAV
*/


/*
    JUMBO
*/

.jumbo{
    padding: 100px 0;
}

.jumbo-box{
    padding: 30px 50px;
}

.jumbo-box h1{
    height: 25%;
}

.jumbo-box div{
    height: 75%;
}
/*
    /JUMBO
*/


/*
    MAIN TOP
*/
/* Piani di acquisto (Business) */
.business-offerte{
    width: 100%;
}

.offerta{
    padding: 50px 0;
}

.offerta:nth-child(2){
    padding: 50px;
}

.business-bottom{
    border-bottom: 1px solid black;
    text-align: center;
}

.business-bottom .fa-building{
    padding: 5px;
}

/* Immagine + didascalia (Partner) */

/* Multischeda (Card) */

/*
    /MAIN TOP
*/


/*
    MAIN BOTTOM
*/
/* Zona Team */
div.team-center{
    width: 100%;
}

/* Zona Domande Frequenti */

/*
    /MAIN BOTTOM
*/


/*
    FOOTER
*/
footer{
    background-color: black;
}
footer .colonne{
    width: 20%;
}
/* footer div.container-medio{
    padding: 50px 0 25px;
}

footer span.container-medio{
    padding-bottom: 25px;
} */
/*
    /FOOTER
*/