.btn{
    background-color: var(--blu-acceso);
    color: white;
    padding: 5px 15px;
    font-size: 14px;
}

.btn-variante{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.float{
    float: left;
}

/* Colori e testi */
.c-grey{
    color: grey;
}

.bold{
    font-weight: 900;
}

.a-variant{
    color: var(--blu-acceso);
    text-decoration: underline;
}

/* Larghezze standard */
.w33{
    width: calc(100% / 3 - 100px / 3);
}

.w40{
    width: 40%;
}

.w50{
    width: 50%;
}

.w60{
    width: 60%;
}

/* 
    IN CASO SERVISSE AVERE LE ICONE GENERATE DA CSS
*/
/* Icone per Main business-offerte*/
/* .user::before{
    content: '\f007';
    <i class="fa-regular fa-user"></i>
}
.user-plus::before{
    content: '\f234';
    <i class="fa-solid fa-user-plus"></i>
}
.building::before{
    content: '\f1ad';
    <i class="fa-regular fa-building"></i>
}
.folder::before{
    content: '\f07b';
    <i class="fa-regular fa-folder"></i>
}
.pencil::before{
    content: '\f303';
    <i class="fa-solid fa-pencil"></i>
}
.smile::before{
    content: '\f118';
    <i class="fa-regular fa-face-smile"></i>
} */


/*
    DEBUG
*/
/* .debug{
    background-color: rgba(0, 255, 0, 0.2);
    border: 1px solid black;
}

.h100{
    height: 100px;
}

.h300{
    height: 300px;
}

.h500{
    height: 500px;
} */