.btn{
    background-color: var(--blu-acceso);
    color: white;
}

.float{
    float: left;
}

/* Larghezze standard */
.w33{
    width: calc(100% / 3);
}

.w40{
    width: 40%;
}

.w50{
    width: 50%;
}

.w60{
    width: 60%;
}

/* Debug */
.debug{
    background-color: rgba(0, 255, 0, 0.2);
    border: 1px solid black;
}

.h100{
    height: 100px;
}

.h300{
    height: 300px;
}

.h500{
    height: 500px;
}